.cell_div {
    font-family: sans-serif;
    border: 1px solid black;
    position: relative;
    user-select: none;
    background-color: white;
    transition: 0.5s all;
}

.cell_value {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-transform: uppercase;
    text-align: center;
}

.part_of_current_clue {
    background-color: #fdd996;
}

.selected_cell {
    background-color: #ffaa50 !important;
}

.closed {
    opacity: 0;
}

.missing_cell {
    color: #02aa02;
}

.incorrect_cell {
    color: #ff0000;
    background-color: white;
}

.semantic {
    color: black;
}

.non_semantic {
    color: #cccccc;
}