.grid_background {
    background-color: #000000d0;
    padding: 2px;
    margin: 15px;
}

.cell_div {
    font-family: sans-serif;
    font-weight: bold;
    border: 1px solid black;
    position: relative;
}

.current_clue_display {
    background-color: #00000020;
    width: 80vw;
    max-width: 500px;
    color: black;
    border: 1px solid #00000025;
    padding: 0.4rem;
    user-select: none;
    text-align: center;
    transition: all 0.2s;
}

.submit_button {
    background-color: white;
    color: green;
    font-weight: bold;
    border: 2px solid green;
    border-radius: 5px;
    padding: 2px 6px;
}

.submit_button:hover {
    background-color: green;
    color: white;
    transition: all .3s;
}