.standard_button {
    background-color: #cccccc;
    font-weight: bold;
    color: black;
    font-variant: small-caps;
    text-decoration: none;
    padding: 0 6px;
    border: 1px solid #808080;
    border-radius: 5px;
    font-size: 1.2rem;
    box-shadow: 1px 1px 3px grey;
    transition: 0.2s all;
}

.standard_button:hover {
    background-color: #f2eef2;
    box-shadow: 2px 2px 3px grey;
}

.standard_button_depress {
    animation: button_depress;
    animation-duration: 0.2s;
    animation-fill-mode: none;
}

@keyframes button_depress {

    0% {
        box-shadow: 1px 1px 3px grey;
    }

    50% {
        box-shadow: none;
        transform: translate(1px, 1px);
    }

    100% {
        box-shadow: 1px 1px 3px grey;
    }
}