@keyframes fade_in {
    from {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fadeIn {
    animation: fade_in 1.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}

.CookieConsentContainer {
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--scnd-color);
    color: black;
}

.AcceptButton {
    /* font-size: 0.8rem; */
    align-self: center;
    border-radius: 10px;
    padding: 4px 10px;
    background: linear-gradient(var(--common-warm), var(--button-color));
    color: var(--fg-color);
    border: none;
    margin:  px 5px;
    box-shadow: 1px 1px 2px 1px var(--shadow-color);
    transition: all 0.2s;
}

.DeclineButton {
    /* font-size: 0.8rem; */
    align-self: center;
    border-radius: 10px;
    padding: 4px 10px;
    background: linear-gradient(var(--brgt-color), var(--button-color));
    color: var(--fg-color);
    border: none;
    margin:  10px 10px;
    box-shadow: 1px 1px 2px 1px var(--shadow-color);
    transition: all 0.2s;
}

.AcceptButton:hover, .DeclineButton:hover {
    cursor: pointer;
    /* border: 2px solid var(--fg-color); */
    background: linear-gradient(var(--brgt-color), var(--common-warm));
}

.Button i {
    color: inherit;
}

.Button:hover:active {
    background-color: var(--brgt-color);
    border: none;
}

.Button:focus {
    background-color: var(--brgt-color);
    border: none;
}




