.FreckleFaceFont {
    font-family: "Freckle Face";
}

.NavLink {
    margin: 0 10px;
}

.NavLink:hover{
    color: var(--common-warm);
}

.NavLink i, i {
    font-size: 1.3rem;
}

.NavLink i:hover {
    color:var(--common-warm) !important;
}

.NavContainer {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    min-height: 75px;
}

.HomeSection {
    color: var(--fg-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding-left: 50px;
}

.LinkSection {
    color: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    padding-right: 30px;
}

.LinkSection i {
    color: var(--thrd-color);
}

/* .LinkSection i:hover {
    color: var(--thrd-color);
} */

.HomeIcon {
    display: none;
}

.HomeText:hover, .HomeIcon:hover {
    color: var(--common-warm);
}

@media screen and (max-width: 576px) {
    .HomeIcon {
        display: block;
    }

    .HomeText {
        display: none;
    }

    .HomeSection {
        padding-left: 15px;
    }

    .LinkSection {
        padding-right: 15px;
    }

    .NavLink i, i {
        font-size: 1.1rem;
    }

}



