.letter_box {
    position: relative;
    background-color: var(--bg-color);
    box-shadow: inset 0px 0px 4px 2px var(--fg-color);
    color: var(--fg-color);
    display: inline-block;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px solid var(--fg-color);
    text-align: center;
    font-size: clamp(22px, 6.75vw, 45px);
    line-height: clamp(30px, 9vw, 60px);
    width: clamp(30px, 9vw, 60px);
    height: clamp(30px, 9vw, 60px);
    cursor: move;
    touch-action: none;
    user-select: none;
    margin: 1px;
    --logo_color_choice: black;
}

.finger {
    position: absolute;
    left: 50%;
    top: 60%;
    color: rgb(170, 113, 7);
    opacity: 0.5;
    font-size: 2rem;
    z-index: 1000;
    filter: drop-shadow(4px 4px 3px black);
}

.spin_to_correct {
    animation: letter_spin_exit 2s;
    animation-timing-function: linear();
    animation-fill-mode: forwards;
}

@keyframes letter_spin_exit {
    from {
        background-color: var(--bg-color);
        color: var(--fg-color);
        transform: rotateY(0deg);
    }

    10% {
        background-color: var(--bg-color);
        color: var(--fg-color);
        transform: rotateY(90deg);
    }

    20% {
        background-color: var(--fg-color);
        box-shadow: inset 0px 0px 4px 2px var(--bg-color);
        color: var(--bg-color);
        transform: rotateY(0deg);
    }

    40% {
        background-color: var(--fg-color);
        box-shadow: inset 0px 0px 4px 2px var(--bg-color);
        color: var(--bg-color);
        transform: translateX(0);
        opacity: 1; 
        filter: blur(0);
    }

    to {
        background-color: var(--fg-color);
        box-shadow: inset 0px 0px 4px 2px var(--bg-color);
        color: var(--bg-color);
        transform: translateX(100vw);
        opacity: 0.5;
        filter: blur(10px);
    }
}