{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/grid_editor.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid text-center">

    <div id="save-notifier" class="self-dismissing-message-holder d-none">
        <span>Crossword saved</span>
    </div>
    <div id="copy-notifier" class="self-dismissing-message-holder d-none">
        <span>Solution Copied</span>
    </div>

    <div class="row mt-3 justify-content-center align-items-center">
        <div
            class="col form-check form-switch border border-1 rounded d-flex align-items-center justify-content-center">
            <div class="my-auto">
                <label for="layout-editor-checkbox">
                    Layout
                </label>
                <input type="checkbox" id="layout-editor-checkbox" class="form-check-input" role="switch">
            </div>

        </div>
        <div class="col">
            <button id="save-button" class="btn letter-button">
                <i class="fa-solid fa-cloud-arrow-up"></i>
            </button>
            <a href="/api/crossword_builder/" class="btn letter-button">
                <i class="fa-solid fa-house"></i>
            </a>
        </div>
    </div>

    <!-- The main crossword grid editor -->
    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <div id="grid-editor-div"></div>
        </div>

        <!-- The current answer display, with buttons for get matches and enter clue -->
        <div id="current-item-holder" class="col-12 col-md-6 text-center">
            <div class="row mt-3 align-items-center">
                <div class="col">
                    <button id="clue-editor-button" class="letter-button" data-bs-toggle="modal"
                        data-bs-target="#clue-editor-modal">
                        <i class="fa-solid fa-circle-question"></i>
                    </button>
                    <button id="matches-button" class="letter-button" data-bs-toggle="modal"
                        data-bs-target="#matches-modal">
                        <i class="fa-solid fa-puzzle-piece"></i>
                    </button>
                    <button id="clear-clue-button" class="letter-button">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <button id="copy-word-button" class="letter-button">
                        <i class="fa-regular fa-copy"></i>
                    </button>
                </div>
            </div>

            <div class="row justify-content-start mt-2">
                <div class="col border mt-1 w-100 text-left bg-grey">
                    <p id="clue-display" class="my-auto"></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="col-11 col-md-6 p-2">
            <hr>
            <h4><strong>Clues Across</strong></h4>
            <div id="clues-across-list"></div>
        </div>
        <div class="col-11 col-md-6 p-2">
            <hr>
            <h4><strong>Clues Down</strong></h4>
            <div id="clues-down-list"></div>
        </div>
    </div>
</div>



<!-- Virtual keyboard, appears only when a cell-group is selected, dismissed when modals opened-->
<div id="virtual-keyboard" class="container-fluid d-md-none py-1">
    <div class="row justify-content-center"></div>
    <div class="col text-center" id="vk-top-row"></div>
    <div class="row justify-content-center">
        <div class="col text-center" id="vk-middle-row"></div>
    </div>
    <div class="row justify-content-center">
        <div class="col text-center" id="vk-bottom-row"></div>
    </div>
    <span class="close-button virtual-key text-center" id="keyboard-closer">X</span>
</div>

<!-- Matches modal : Displays all words in dictionary of equal length matching existing characters -->
<div class="modal" id="matches-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="matches-modal-title">Matches</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="matches-div"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Clue Editor modal : Displays all definitions available and an input for the clue -->
<div class="modal" id="clue-editor-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Clue</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="clue-form" action="#">
                    <textarea class="p-2 def-input mt-2" id="def-input" rows="4"></textarea>
                    <input type="text" class="p-2 mt-2" id="word-lengths-input">
                </form>
                <div id="definition-div"></div>
            </div>
            <div class="modal-footer">

                <button type="button" id="close-and-save-button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close & Save
                </button>
            </div>
        </div>
    </div>
</div>



{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script type="module" src="{% static 'js/grid_editor.js' %}"></script>
{{ data | json_script:"data" }}

{% endblock %}