{% extends 'base.html' %}
{% load static %}

<div class="container">
    <div class="row">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="puzzle-grid" style="grid-template-columns: repeat({{puzzle.grid.width}}, 30px);">
                {% for char in puzzle.grid.cells %}
                {% if char == '#' %}
                <div id="{{ forloop.counter0 }}" class="null-square"></div>
                {% else %}
                <div id="{{ forloop.counter0 }}" class="empty-square"></div>
            </div>
        </div>
        {% endif %}

        {% endfor %}
    </div>
</div>
<div class="col-lg-4"></div>
</div>
</div>

{% block postloadjs %}
{% block.super %}
<script src="{% static 'js/puzzle_interface.js' %}"></script>
{% endblock %}