:root {
    --size: clamp(25px, calc(100vw / 10), 50px);
}

.App {
    background-color: var(--bg-color);
    color: var(--fg-color);
    min-height: 100vh;
}

.Main {
    background-color: var(--bg-color);
}

.Image {
    max-height: 40vh;
    max-width: 100%;
    object-fit: contain;
}

h1, h2, h3, h4, h5, h6, button {
    user-select: none;
}

* {
    box-sizing: border-box;
    transition: .1s all;
    user-select: none;
}

a {
    color: var(--thrd-color);
}

a:hover {
    text-decoration: none;
}

a i {
    color: var(--thrd-color);
    font-size: 0.9rem;
    padding: 3px;
    vertical-align: middle;
}

figure {
    text-align: center;
    display: inline-block;
}

table {
    color: var(--fg-color) !important;
    text-align: center !important;
    font-size: 0.8rem;
}

.CookieConsentOverlay {
    background-color: black;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: opacity 0.5s;
    animation: consent-cookie-overlay 1s;
}

.CookieConsentContainer {
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: var(--scnd-color);
    color: black;
}

.AcceptButton {
    /* font-size: 0.8rem; */
    align-self: center;
    border-radius: 10px;
    padding: 4px 10px;
    background: linear-gradient(var(--common-warm), var(--button-color));
    color: var(--fg-color);
    border: none;
    margin:  px 5px;
    box-shadow: 1px 1px 2px 1px var(--shadow-color);
    transition: all 0.2s;
}

.DeclineButton {
    /* font-size: 0.8rem; */
    align-self: center;
    border-radius: 10px;
    padding: 4px 10px;
    background: linear-gradient(var(--brgt-color), var(--button-color));
    color: var(--fg-color);
    border: none;
    margin:  10px 10px;
    box-shadow: 1px 1px 2px 1px var(--shadow-color);
    transition: all 0.2s;
}

.AcceptButton:hover, .DeclineButton:hover {
    cursor: pointer;
    /* border: 2px solid var(--fg-color); */
    background: linear-gradient(var(--brgt-color), var(--common-warm));
}

/* scrollbar */
*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-track {
    background: #f1f1f1;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}